* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    border: 2px solid black;
    width: calc(100% / 10);
    padding: 50px 0px;
    align-items: center;
    justify-content: center;
}

.even {
    background-color: red;
}

.odd {
    background-color: blue;
}